/*:root {
    --electron-resizable-margin: 3px;
}*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 8px;
	background-color: #333;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px 10px 10px 0px;
	background-color: #333;
}
 
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 0px 10px 10px 0px;
    background-color: #666;
}

.draggable {
    -webkit-app-region: drag;
    cursor: pointer;
}

.description {
    margin-top: 25px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card {
    box-shadow: 0 0 0 0 !important; /* Semantic-UIのカードに対する影は不要 */
}

#content {
    margin-top: 64px;
}
