<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div class="ui grid">
      <div id="card" class="ui card sixteen wide column">
        <div class="content">
          <div class="description">
            <div class="ui form">
              <div class="field">
                <textarea v-if="!preview" :value="input" @input="update"></textarea>
                <div  v-if="preview" v-html="compiledMarkdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated star">
            <button  v-on:click="onPreview" class="ui button">Preview</button>
            <button  v-on:click="onSave" class="ui button">Save</button>
            <button  v-on:click="onCancel" class="ui button">Cancel</button>
          </span>
        </div>
      </div>

    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="../semantic/dist/semantic.min.js"></script>    
  <script src="https://unpkg.com/vue"></script>
  <script src="js/index.js"></script>

</html>
