<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div class="ui grid fullheight">
      <div id="card" class="ui card sixteen wide column">
        <div class="content">
          <i id="closeButton" class="right floated close icon"> </i>
          <i class="right floated setting icon"> </i>
          <div class="header draggable">&nbsp;</div>
          <div class="description">
            <div class="ui form">
              <div class="field">
                <textarea v-if="editable" :value="input" @input="update"></textarea>
                <div v-if="!editable" v-html="compiledMarkdown"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated star">
            <button v-if="editable" v-on:click="onSave" class="ui button">Save</button>
          </span>
        </div>
      </div>

    </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="js/index.js"></script>

  </body>
</html>
