<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div id="card" class="ui grid">
      <div v-if="!loaded" class="ui active dimmer">
        <div class="ui loader"></div>
      </div>

      <div v-if="loaded" class="ui card sixteen wide column">
        <div class="content">
          <!-- ヘッダー部 -->

          <!-- 表示中の表示 -->
          <div v-if="!editable" class="ui label teal large draggable">
            <i class="hashtag icon"></i> {{ title }}
          </div>
          <div v-if="!editable" class="right floated ui icon buttons compact">
            <button v-on:click="onEdit" class="ui button compact">
              <i class="setting icon">&nbsp;</i>
            </button>
            <button v-on:click="onClose" class="ui button compact">
              <i class="close icon">&nbsp;</i>
            </button>
          </div>

          <!-- 編集中の表示 -->
          <div v-if="editable" class="ui fluid labeled input">
            <div class="ui label">Title</div>
            <input type="text" placeholder="Task A" :value="title" @input="updateTitle"/>
          </div>


          <!-- コンテンツ部 -->
          <div class="description">
            <div class="ui form">
              <div class="field">
                <textarea v-if="editable" :value="input" @input="updateText"></textarea>
                <div v-if="!editable" v-html="compiledMarkdown"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- アクションエリア -->
        <div class="extra content" v-if="editable">
          <span class="right floated star">
            <button v-on:click="onSave" class="ui button teal">Save</button>
          </span>
        </div>

      </div>

    </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="js/index.js"></script>

  </body>
</html>
