/*:root {
    --electron-resizable-margin: 3px;
}*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.draggable {
    -webkit-app-region: drag;
    cursor: pointer;
}

.description {
    margin-top: 25px !important;
}

.card {
    box-shadow: 0 0 0 0 !important; /* Semantic-UIのカードに対する影は不要 */
}

#content {
    margin-top: 64px;
}
