/*:root {
    --electron-height-margin: 40px;
}*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*.fullheight {
    height: calc(100% - (var(--electron-height-margin)));
}

.fullheight .card {
    height: calc(100% - (var(--electron-height-margin)));
}
*/
.draggable {
    -webkit-app-region: drag;
}
