<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sticky Card</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div id="card">

      <template v-if="!loaded">
        <div class="ui active dimmer">
          <div class="ui loader"></div>
        </div>
      </template>
      <template v-else>

        <!-- 表示中の表示 -->
        <template v-if="!editable">
          <div id="menu" class="ui fluid top compact fixed menu borderless inverted teal">
            <div class="item draggable">
              <i class="hashtag icon"></i> {{ title }}
            </div>

            <div class="item right">
              <div class="right floated ui icon buttons compact">
                <button v-on:click="onEdit" class="ui button compact">
                  <i class="setting icon">&nbsp;</i>
                </button>
                <button v-on:click="onClose" class="ui button compact">
                  <i class="close icon">&nbsp;</i>
                </button>
              </div>
            </div>
          </div>

          <div id="content" class="ui container">
            <div class="description">
              <div class="ui form">
                <div class="field">
                  <div v-html="compiledMarkdown"></div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <!-- 編集中の表示 -->
        <template v-else>
          <div id="menu" class="ui fluid top compact fixed menu borderless inverted teal">
            <div class="item">
              <i class="hashtag icon draggable"></i> 
              <div class="ui input">
                <input type="text" placeholder="タイトル" :value="title" @input="updateTitle"/>
              </div>
            </div>

            <div class="item right">
              <div class="right floated ui icon buttons compact">
                <button v-on:click="onSave" class="ui button compact">
                  <i class="checkmark icon">&nbsp;</i>
                </button>
              </div>
            </div>
          </div>

          <form id="content" class="ui form editor-body">
            <div class="field full">
              <textarea :value="text" @input="updateText" placeholder="マークダウン形式で入力できます" class="full markdown-editor"></textarea>
            </div>
          </form>

        </template>

      </template>

    </div>

  <script src="js/vue.min.js"></script>
  <script src="js/index.js"></script>

  </body>
</html>
